<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunstbeoordeling</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <img src="./svg/logo-pantheon.svg">
    </header>
    <div class="box">
        <form action="#">
            <div class="input_box">
                <input type="text" placeholder="Search..." required>
                <div class="selection">
                    <p>Filters</p><span></span>
                </div>
                <div class="categories">
                    <p class="option">Year</p>
                    <p class="option">Artist</p>
                    <p class="option">Location</p>
                </div>
            </div>
        </form>
    </div>
    
    <div class="selected-filters"></div>
    

    <main>
        <div class="epmty-state">
            
        </div>
    </main>
<script src="script.js"></script>
</body>

    <nav>
        <ul class="navigation">
            <li><a href="/home"><img src="./svg/painting-nonactive.svg" /><span></span></a></li>
            <li class="active"><a href="/likes"><img src="./svg/likes-active.svg" /><span></span></a></li>
            <li><a href="/musea"><img src="./svg/pantheon-nav.svg" /><span></span></a></li>
            <li><a href="/account"><img src="./svg/account-nav.svg" /><span></span></a></li>
        </ul>
    </nav>

</html>
