<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunstbeoordeling</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <header>
        <img src="./svg/logo-pantheon.svg">
    </header>
    <main>

    </main>
    <h1>Welcome, <%= users.username %> !</h1>
    <p>This is your account settings page.</p>
    <!-- Logout button -->
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>

    <h1>User Profile</h1>
    <p>Username: <%= users.username %>
    </p>
    <p>Email: <%= users.email %>
    </p>
    </section>
    <nav>
        <ul class="navigation">
            <li><a href="/home"><img src="./svg/painting-nonactive.svg" /><span></span></a></li>
            <li><a href="/likes"><img src="./svg/thumb-nav-unactive.svg" /><span></span></a></li>
            <li><a href="/musea"><img src="./svg/pantheon-nav.svg" /><span></span></a></li>
            <li class="active"><a href="/account"><img src="./svg/account-active.svg" /><span></span></a></li>
        </ul>
    </nav>
</body>

</html>