<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunstbeoordeling</title>
    <link rel="stylesheet" href="style.css">
</head>


<body class="accountBody">
    <header>
        <img src="./svg/logo-pantheon.svg">
    </header>
    <main>
        <h2 class="accountH2">Welcome, <%= users.username %> !</h2>

        <div class="form">
            <p class="labelP">Username:</p>

            <p class="infoP">
                <%= users.username %>
            </p>
            <p class="labelP">Password:</p>
            <p class="infoP">******** </p>
            <!-- <img src="./svg/eye-slash.svg" class="hidden"> -->
            <p class="labelP">Email:</p>
            <p class="infoP">
                <%= users.email %>
            </p>
            <p class="labelP">Phonenumber:</p>
            <p class="infoP">
                <%= users.phonenumber %>
            </p>
        </div>

        <!-- Logout button -->
        <div class="form">
            <form action="/logout" method="GET">
                <button type="submit" class="logoutbutton">Logout</button>
            </form>
        </div>
    </main>

    <nav>
        <ul class="navigation">
            <li><a href="/home"><img src="./svg/painting-nonactive.svg" /><span></span></a></li>
            <li><a href="/likes"><img src="./svg/thumb-nav-unactive.svg" /><span></span></a></li>
            <li><a href="/musea"><img src="./svg/pantheon-nav.svg" /><span></span></a></li>
            <li class="active"><a href="/account"><img src="./svg/account-active.svg" /><span></span></a></li>
        </ul>
    </nav>
</body>

</html>