<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunstbeoordeling</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <header>
        <img src="./svg/logo-pantheon.svg">
    </header>
    <main>
        <div class="artwork-container">
            <img src="images/Mona_Lisa,_by_Leonardo_da_Vinci,_from_C2RMF_retouched.jpg" alt="Kunstwerk">
            <!-- Beschrijving toevoegen -->
            <div class="artwork-description">
                <h3>Mona lisa</h3>
                <p>Leonardo da Vinci - 1517</p>
                <p>Louvre - Paris, 429km</p>
            </div>
        </div>

        <div class="rating-smileys">
            <img class="rating-smiley" src="svg/smiley1.svg" alt="Boos">
            <img class="rating-smiley" src="svg/smiley2.svg" alt="Verdrietig">
            <img class="rating-smiley" src="svg/smiley3.svg" alt="Neutraal">
            <img class="rating-smiley" src="svg/smiley4.svg" alt="Blij">
            <img class="rating-smiley" src="svg/smiley5.svg" alt="Heel Blij">
        </div>
    </main>

    <nav>
        <ul class="navigation">
            <li class="active"><a href="/home"><img src="./svg/painting-nav.svg" /><span></span></a></li>
            <li><a href="/likes"><img src="./svg/Group 45.svg" /><span></span></a></li>
            <li><a href="/musea"><img src="./svg/pantheon-nav.svg" /><span></span></a></li>
            <li><a href="/account"><img src="./svg/account-nav.svg" /><span></span></a></li>
        </ul>
    </nav>
</body>
</html>
