<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantheon</title>
    <link rel="stylesheet" href="style.css">
</head>


<body class="loginBody">
    <header>
        <img src="./svg/logo-pantheon.svg">
    </header>
    <h2 class="loginH2">Welcome to Pantheon!</h2>
    <form class="form">
        <p class="indexP">Login to your Pantheon account.</p>
        <a href="/login" class="indexButton">Login</a>
        <p class="indexP2">Create your own Pantheon account.</p>
        <a href="/register" class="indexButton">Create an account</a>
    </form>
</body>

</html>