<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunstbeoordeling</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <header>
        <img src="./svg/Group 41.svg">
    </header>
    <main>

    </main>



    <nav>
        <ul class="navigation">
            <li><a href="/"><img src="./svg/painting-nonactive.svg" /><span></span></a></li>
            <li class="active"><a href="likes.html"><img src="./svg/thumb-nav-active" /><span></span></a></li>
            <li><a href="musea.html"><img src="./svg/pantheon-nav.svg" /><span></span></a></li>
            <li><a href="account.html"><img src="./svg/account-nav.svg" /><span></span></a></li>
        </ul>
    </nav>
</body>

</html>