<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunstbeoordeling</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <header>
        <img src="./svg/logo-pantheon.svg">
    </header>
    <main>

    </main>



    <nav>
        <ul class="navigation">
            <li><a href="/home"><img src="./svg/painting-nonactive.svg" /><span></span></a></li>
            <li><a href="/likes"><img src="./svg/likes-inactive.svg" /><span></span></a></li>
            <li class="active"><a href="/musea"><img src="./svg/pantheon-active.svg" /><span></span></a></li>
            <li><a href="/account"><img src="./svg/account-nav.svg" /><span></span></a></li>
        </ul>
    </nav>
</body>

</html>