<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Register Page</title>
</head>
<body class="loginBody">
    <header>
        <img src="./svg/logo-pantheon.svg">
    </header>

    <h2 class="loginH2">
        Welcome to Pantheon!
    </h2>


    <p class="loginP">
        Create a Pantheon account to view your favorite art.
    </p>

    <div class="container">
        <form class="form" method="POST" action="/register">
            <input type="text" placeholder="Username" required name="username" value="<%= typeof username !== 'undefined' ? username : '' %>">
            <input type="password" placeholder="Password" required name="password">
            <input type="email" placeholder="example@example.com" required name="email" value="<%= typeof email !== 'undefined' ? email : '' %>">
            <input type="tel" placeholder="+31 xx-xxxxxxxx"  inputmode="numeric" maxlength="15" required name="phonenumber" value="<%= typeof phonenumber !== 'undefined' ? phonenumber : '' %>">
            <!-- <input type="file" name="artwork"> -->

            <input type="checkbox" name="kunstwerk">
            <input type="checkbox" name="kunstwerk">
            <input type="checkbox" name="kunstwerk">
            <input type="checkbox" name="kunstwerk">
            <input type="checkbox" name="kunstwerk">
            <input type="checkbox" name="kunstwerk">
                
    </div> 

            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <div style="color: white;">
                    <% errors.forEach(error => { %>
                        <p><%= error.msg %></p>
                    <% }) %>
                </div>
            <% } %>

            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>
