@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: white;
    background-color: #7C1626;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='505' height='420.8' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    z-index: -1;
    transition: background-color 0.36s ease;
    opacity: 1;
    /* Zet de z-index van de achtergrond naar beneden */
}

header {
    color: #fff;
    padding: 10px;
    text-align: center;
}

header img {
    height: 3em;
    width: auto;
}

main {

    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px;
    height: 40em;
}

* {
    padding: 0;
    margin: 0;
}

p {
    font-size: 0.9em;
}














/* Index Page */

.indexButton  {
    padding: 1em 0em 1em 0em;
    text-decoration: none;
    color: #ffffff;
    border: none;
    background-color: #333333;

    border-radius: 0.8em;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.4em;
    display: flex;
    margin-bottom: 2em;
    font-size: 0.9;


}

.existing-acc-btn {
    background-color: rgba(225, 255, 255, 0.2);
    padding: 1em 0em 1em 0em;
    text-decoration: none;
    color: #ffffff;
    border: none;
    border-radius: 0.8em;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.4em;
    display: flex;
    margin-bottom: 2em;
    font-size: 0.9;

}


#showSecondPartButton {
    color: #fff;
    background-color: #333333;
    font-size: 0.9em;
}


#secondPartForm .indexButton {
    color: #fff;



}








/*  */

#login-loginpage {
    padding: 1em 0em 1em 0em;
    text-decoration: none;
    color: #fff;
    background-color: #333333;
    border: none;
    border-radius: 0.8em;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.4em;
    display: flex;
    margin-bottom: 2em;
}

/* smileys homepage*/
.rating-form {
    position: fixed;
    bottom: 8.5em;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
}





/* register page */

.viewport {
   height: 100vh;
}



#secondPartForm {
    padding: 0em 2em 0em 2em;
}

#checkboxForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Hiermee wordt de grid opgedeeld in twee kolommen van gelijke breedte */
    gap: 10px; /* Ruimte tussen de afbeeldingen */
}

.imageCheckbox {
    position: relative;
    display: inline-block; /* Maak de container groot genoeg om de checkbox en de afbeelding te bevatten */
}

.imageCheckbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Maak de checkbox onzichtbaar */
    width: 100%;
    height: 100%;
    cursor: pointer; /* Verander de cursor naar pointer wanneer er over de afbeelding wordt gehoverd */
    z-index: 2; /* Zorg ervoor dat de checkbox bovenop de afbeelding ligt */
}

.imageCheckbox img {
    width: 100%; /* Zorg ervoor dat de afbeeldingen de volledige breedte van hun container innemen */
    height: auto; /* Behoud de aspect ratio van de afbeeldingen */
    transition: background-color 0.3s; /* Voeg een overgangseffect toe om de verandering in achtergrondkleur vloeiend te maken */
    z-index: 1; /* Zorg ervoor dat de afbeelding achter de checkbox ligt */
}

.imageCheckbox input[type="checkbox"]:checked + img {
    filter: grayscale(100%) opacity(0.5); /* Maak de afbeelding lichtgrijs en verminder de opaciteit wanneer de checkbox is aangevinkt */
}
/* Login/Register pages */
.loginBody {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #561C24;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23561C24' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23631d27' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23711d2a' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%237f1d2c' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%238d1c2e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%239B1B30' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.loginBody h1 {
    text-align: left;
    margin: 0.5em 1em 0.5em 1.5em;
}

.loginBody h2 {
    text-align: left;
    margin: 1em 1em 1em 0.5em;

}

.secondPartForm h2 {
padding-top: 15em;
}

.loginBody p {
    text-align: left;
    font-size: 0.8em;
    margin: 1em 1em 0em 3.25em;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    padding: 1em 1.5em 1.5em 1.5em;
    border-radius: 0.5em;
    margin: 0.5em 1em 0em 1em;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="tel"],
.form input[type="email"] {
    width: 95%;
    padding: 1.25em 0.6em 1.25em 0.6em;
    margin-bottom: 1.25em;
    border: 0.05em solid #fff;
    border-radius: 0.5em;
}

.form input[type="submit"] {
    width: 100%;
    padding: 1em 0.6em 1em 0.6em;
    margin-top: 0.4em;
    margin-bottom: 1.5em;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
    font-size: 0.9em;
}






















/* Home page */
.artwork-container {
    position: relative;
    text-align: center;
    border: none;
    justify-content: space-between;
}

.artwork-container img {
    display: block;
    /* Zorg ervoor dat de afbeelding een blokelement is */
    width: 100%;
    /* Laat de afbeelding de volledige breedte van de container innemen */
    height: 25em;
    object-fit: cover;
    /* Behoud de aspect ratio van de afbeelding en bedek de container */
    border-radius: 1em 1em 0em 0em;
}



.artwork-description {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    padding: 1.3em 1em;
    text-align: left;
    background-color: #F9F7EF;
    color: #000000;
    border-radius: 0em 0em 1em 1em;
    height: fit-content;

}

.artwork-description p:first-child {
    font-weight: bold;
}


.artwork-description p:nth-child(3) {
    font-style: italic;

}







/* smileys homepage*/
.rating-form {
    position: fixed; 
    bottom: 8.5em; 
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    z-index: 9999; 
}

.rating-smiley {
    width: 4em;
    height: auto;
    cursor: pointer;
    padding: 0.8em;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}




















/* likes page */


.box {

    background-color: #fff;
    border-radius: 1em;
    padding: 0.3125em;
    margin-left: 1em;
    margin-right: 1em;

}

.box form .input_box {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.box form .input_box input {
    width: 100%;
    padding: 0.625em 0.9375em;
    border: none;
    outline: none;
}

.box form .selection {
    background-color: #9B1B30;
    padding: 0.625em 1.25em;
    border-radius: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.box form .selection p {
    color: #fff;
}

.box form .selection span {
    border-right: 0.3125em solid #fff;
    border-bottom: 0.3125em solid #fff;
    border-left: 0.3125em solid #9B1B30;
    border-top: 0.3125em solid #9B1B30;
    display: inline-block;
    rotate: 45deg;
    margin-left: 0.625em;
    margin-bottom: 0.3125em;
}

.box form .categories {
    position: absolute;
    top: 110%;
    right: 0em;
    background-color: #9B1B30;
    color: #fff;
    padding: 0.625em;
    opacity: 0;
    pointer-events: none;
    margin-top: 0.0625em;
    border-radius: 1em;
    z-index: 999;
}

.box form .active {
    opacity: 1;
    pointer-events: fill;
}

.box form .categories p {
    margin: 0.3125em 0em;
    padding: 0.5em 0.75em;
    border-radius: 0.3125em;
    cursor: pointer;
}

.box form .categories p:hover {
    background-color: #550101;
}

.selected-filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

.selected-filter-item {
    background-color: #ffffff;
    color: #333;
    border-radius: 0.75em;
    padding: 0.25em 0.35em 0.30em 0.45em;
    margin: 0.5em 0em 0.5em 1em;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.close-icon {
    margin-left: 0.5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
}



/* Schilderijen Likes page */


.like-box {
    display: flex;
    align-items: flex-start;
    /* Plaats de inhoud aan de bovenkant van de .like-box */
    color: #000;
    background-color: #fff;
    border-radius: 1em;
    margin: 1em;
    overflow: hidden;
    height: 8em;
    /* Verberg eventuele overflow om te voorkomen dat de .like-box de pagina uitrekt */
}

.like-box img {

    width: 5em;
    height: 100%;
    /* Neem de volledige hoogte van de .like-box in */
    border-radius: 1em 0em 0em 1em;
    margin-right: 10px;
    object-fit: cover;
    /* Behoudt de aspect ratio en vult de afbeelding in de beschikbare ruimte */
}

.smiley-likepage-image img {
    position: absolute;
    right: 0.8em;
    margin-top: 1em;
    width: 1.7em;
    height: 1.7em;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0em 0.5em 0em;
    /* Verwijder de padding om te voorkomen dat de tekstvak de achtergrond van de .like-box overschrijdt */
    margin: 0;
    height: 6em;
    width: 13em;
}


.text-content p:first-of-type {
    font-weight: 600;

}



.text-content p:last-of-type {
    font-style: italic;


}





.empty-space {
    height: 6em;
}
















/* Musea page */



.musea-box {
    background-color: #fff;
    border-radius: 1em;
    padding: 0.3125em;
    margin-left: 1em;
    margin-right: 1em;

}

.musea-box form .musea-input-box {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.musea-box form .musea-input-box input {
    width: 100%;
    padding: 0.625em 0.9375em;
    border: none;
    outline: none;
}

.musea-box form .musea-selection {
    background-color: #9B1B30;
    padding: 0.625em 1.25em;
    border-radius: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.musea-box form .musea-selection p {
    color: #fff;
}

.musea-box form .musea-selection span {
    border-right: 0.3125em solid #fff;
    border-bottom: 0.3125em solid #fff;
    border-left: 0.3125em solid #9B1B30;
    border-top: 0.3125em solid #9B1B30;
    display: inline-block;
    rotate: 45deg;
    margin-left: 0.625em;
    margin-bottom: 0.3125em;
}

.musea-box form .musea-categories {
    position: absolute;
    top: 110%;
    right: 0em;
    background-color: #9B1B30;
    color: #fff;
    padding: 0.625em;
    opacity: 0;
    pointer-events: none;
    margin-top: 0.0625em;
    border-radius: 1em;
    z-index: 999;
}


.musea-box form .active {
    opacity: 1;
    pointer-events: fill;
}

.musea-box form .musea-categories p {
    margin: 0.3125em 0em;
    padding: 0.5em 0.75em;
    border-radius: 0.3125em;
    cursor: pointer;
}



.musea-selected-filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

.musea-selected-filter-item {
    background-color: #ffffff;
    color: #333;
    border-radius: 0.75em;
    padding: 0.25em 0.35em 0.30em 0.45em;
    margin: 0.5em 0em 0.5em 1em;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.musea-close-icon {
    margin-left: 0.5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
}


/* musea-lijst */
.musea-like-box {
    display: flex;
    align-items: flex-start;
    /* Plaats de inhoud aan de bovenkant van de .like-box */
    color: #000;
    background-color: #fff;
    border-radius: 1em;
    margin: 1em;
    overflow: hidden;
    height: 8em;
}

.musea-like-box img {

    width: 5em;
    height: 100%;
    /* Neem de volledige hoogte van de .like-box in */
    border-radius: 1em 0em 0em 1em;
    margin-right: 10px;
    object-fit: cover;
}

.musea-smiley-likepage-image img {
    position: absolute;
    right: 0.8em;
    margin-top: 1em;
    width: 1.7em;
    height: 1.7em;
}


.musea-like-box p:first-of-type {
    font-weight: 600;

}

.musea-like-box p:last-of-type {
    font-style: italic;

}



.musea-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0em 0.5em 0em;
    /* Verwijder de padding om te voorkomen dat de tekstvak de achtergrond van de .like-box overschrijdt */
    margin: 0;
    height: 6em;
    width: 12em;
}















/* navigation */
nav {
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 0;
    width: 100%;
    height: 3.7em;
    position: fixed;
    bottom: 0;


}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav li img {
    height: 2.5em;
    width: 2.5em;
}

nav li a {
    margin: 0;
    display: block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin-top: 0.2em;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

nav li.active a {
    display: flex;
    justify-content: space-around;
    transform: translateY(-20px);
    box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

nav li.active img {
    height: 3em;
}

.nav-img {
    height: 1em;
    width: auto;

}

nav a {
    display: block;
}


li.active .nav-ico {
    fill-rule: evenodd;
    stroke: white;
    fill: white;
    stroke-miterlimit: 10;
    width: 40px;
    border: #000 2px;
}


/*Account page */
.accountBody {
    background-color: #9B1B30;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23561C24'/%3E%3Cstop offset='1' stop-color='%239B1B30'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23791c2a'/%3E%3Cstop offset='1' stop-color='%239B1B30'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


.accountH2 {
    text-align: left;
    margin: 1.5em 1em 0em 1.8em;
}

label {
    padding-left: 0.4em;
    font-weight: 600;
}

.accountBody p {
    width: 95%;
    padding: 1em 0em 1em 0.6em;
    margin-top: 0.4em;
    color: white;
    background-color: none;
    border: solid 0.2em;
    border-radius: 0.3em;
    border-color: white;
    margin-bottom: 1em;

}

.logout {
    width: 100%;
    padding: 1em 0em 1em 0.6em;
    margin-top: 0.4em;
    background-color: white;
    border: none;
    border-radius: 0.3em;
}

.logoutbutton {
    color: red;
    font-weight: bold;
    width: 100%;
    padding: 1em 0em 1em 0.6em;
    margin-top: 0.7em;
    background-color: white;
    border: none;
    border-radius: 0.3em;
}

body.super-dislike-flash {
    background-color: #BF0C0A;
}

body.dislike-flash {
    background-color: #BF5200;
}


body.neutral-flash {
    background-color: #BF8C07;
}

body.like-flash {
    background-color: #7F8D0B;
}

body.super-like-flash {
    background-color: #476E1D;
}

#logoutForm {
    margin-top: 20px;
}

#editButton {
    float: right;
    margin-top: -4.5em;
    margin-right: 3em;
}

.editFormContainer {
    display: none;
    z-index: 0;
}

.editButton {
    width: 100%;
    padding: 1em 0.6em 1em 0.6em;
    margin-top: 0.4em;
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
}



.rating-flash {
    opacity: 0;
    z-index: -100;
}

.rating-flash.active {
    opacity: 1;
    z-index: -100;
}

#changePasswordBtn {
    color: white;
    font-weight: bold;
    width: 277px;
    padding: 1em 0em 1em 0em;
    margin: 0.5em 0em 1em 3em;
    background-color: #333;
    border: none;
    border-radius: 0.3em;
}

.editFormContainer {
    padding: 0em 1.5em 1.5em 1.5em;
    border-radius: 0.5em;
    margin: 0.5em 1em 0em 1em;
}

.editFormContainer input {
    width: 95%;
    padding: 1.25em 0.6em 1.25em 0.6em;
    margin-bottom: 1.25em;
    border: 0.05em solid #fff;
    border-radius: 0.5em;
}